.fullscreenVideoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;

    svg {
        align-self: flex-start;
        width: 4rem;
        height: auto;
        margin: 1rem 0 1rem 5%;
        cursor: pointer;
        transition: fill 0.2s;
        
        path {
            stroke: $light_green;
        }
        
        &:hover {
            fill: $light_green;
        }
    }
    
    iframe {
        align-self: center;
        width: 90%;
        height: 80%;
        border: 5px solid rgba($color: $green, $alpha: 1.0);
    }
}