.playlistMenuContainer {
    background-color: rgba($color: #101010, $alpha: 1);
    border-right: 2px solid white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas: 
    "playlistHeader"
    "playlistMenu"
    "addNewPlaylist";
    justify-items: center;
    color: white;
    
    h2 {
        grid-area: playlistHeader;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid white;
    }

    .playlistMenu {
        grid-area: playlistMenu;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1.2rem 0 1.2rem 0;

        .playlistPlaceholder {
            text-align: center;
            font-weight: 400;
        }

        .playlistItem {
            position: relative;
            border: 1px solid white;
            border-radius: 1rem;
            width: 8rem;
            min-height: 4rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &.selectedPlaylist {
                border: 1px solid rgb(0, 208, 255);
            }

            &:hover {
                border: 1px solid rgb(0, 208, 255);
            }

            h2 {
                position: absolute;
                right: -0.6rem;
                top: -0.6rem;
                width: 1.5rem;
                height: 1.5rem;
                cursor: pointer;
                background-color: black;
                border: 2px solid red;
                border-radius: 50%;
                color: red;

                &:hover {
                    background-color: red;
                    color: black;
                }
            }
        }
    }

    .addNewPlaylist {
        grid-area: addNewPlaylist;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 1rem;
    }

    input {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .playlistMenuContainer {
        border: none;

        h2 {
            width: 90%;
            text-align: center;
            margin-top: 0;
            padding-bottom: 0.5rem;
            border-bottom: none;
        }

        .playlistMenu {
            height: 80%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 0rem;
            overflow-y: hidden;
            overflow-x: auto;

            .playlistItem {
                border: 1px solid white;
                min-width: 5rem;
                min-height: 3rem;
            }
        }
    }
}