.playlistMenuContainer {
    background-color: rgba($color: #101010, $alpha: 1);
    border-right: 2px solid white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas: 
    "playlistHeader"
    "playlistMenu"
    "addNewPlaylist";
    justify-items: center;
    color: white;
    
    h2 {
        grid-area: playlistHeader;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid white;
    }

    .playlistMenu {
        grid-area: playlistMenu;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1.2rem 0 1.2rem 0;

        .playlistPlaceholder {
            text-align: center;
            font-weight: 400;
        }

        .playlistItem {
            position: relative;
            border: 1px solid white;
            border-radius: 1rem;
            width: 8rem;
            min-height: 4rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &.selectedPlaylist {
                border: 1px solid rgb(0, 208, 255);
            }

            &:hover {
                border: 1px solid rgb(0, 208, 255);
            }

            h3 {
                pointer-events: none;
            }

            h2 {
                position: absolute;
                right: -0.6rem;
                top: -0.6rem;
                width: 1.5rem;
                height: 1.5rem;
                cursor: pointer;
                background-color: black;
                border: 2px solid red;
                border-radius: 50%;
                color: red;

                &:hover {
                    background-color: red;
                    color: black;
                }
            }
        }
    }

    .addNewPlaylist {
        grid-area: addNewPlaylist;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 1rem;
    }

    input {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .playlistMenuContainer {
        position: absolute;
        grid-template-rows: 3rem 1fr 3rem;
        right: 50%;
        top: 0;
        width: 8rem;
        height: 2.2rem;
        transform: translateX(50%);
        overflow: hidden;
        border: none;
        z-index: 100;
        border: 2px solid rgb(0, 162, 255);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top: none;
        background-color: rgba($color: #000000, $alpha: 1);
        transition: height 0.3s ease-in-out, width 0.15s ease-out 0.3s;
        
        * {
            opacity: 0;
        }
        
        h2 {
            color: transparent;
        }

        &.expanded {
            * {
                opacity: 1;
            }
            width: 100%;
            height: 100%;

            transition: width 0.15s ease-out, height 0.3s ease-in-out 0.15s;
        }

        &::after {
            content: "PLAYLISTS";
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-size: 1.3rem;
            letter-spacing: 0.1rem;
            font-weight: 400;
            color: rgb(0, 162, 255);
        }

    }
}