* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.15rem;
}

body {
  font-family: Athene, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@font-face {
  font-family: Athene;
  src: url("../assets/Athene.otf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  font-size: 0.6rem;
}

h1, h2, h3, h4, h5, h6, input::-webkit-input-placeholder {
  -webkit-user-select: none;
          user-select: none;
}

h1, h2, h3, h4, h5, h6, input:-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

h1, h2, h3, h4, h5, h6, input::-ms-input-placeholder {
  -ms-user-select: none;
      user-select: none;
}

h1, h2, h3, h4, h5, h6, input::placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bgContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  z-index: -1;
}

.appContainer {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 1fr;
      grid-template-columns: 15rem 1fr;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.appContainer .playlistMenuContainer {
  border-right: 2px solid #133f17;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4rem 1fr 4rem;
      grid-template-rows: 4rem 1fr 4rem;
      grid-template-areas: "playlistHeader" "playlistMenu" "addNewPlaylist";
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.appContainer .playlistMenuContainer .playlistHeaderText {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: playlistHeader;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #133f17;
  color: #133f17;
  font-weight: 800;
  font-size: 1.5rem;
}

.appContainer .playlistMenuContainer .playlistMenu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: playlistMenu;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.2rem 0 1.2rem 0;
}

.appContainer .playlistMenuContainer .playlistMenu .playlistPlaceholder {
  text-align: center;
  font-weight: 600;
  color: #A61141;
}

.appContainer .playlistMenuContainer .playlistMenu .playlistItem {
  position: relative;
  border: 3px solid #591B2F;
  border-radius: 1rem;
  width: 8rem;
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.appContainer .playlistMenuContainer .playlistMenu .playlistItem.selectedPlaylist {
  border: 3px solid #A61141;
}

.appContainer .playlistMenuContainer .playlistMenu .playlistItem:hover {
  border: 3px solid #A61141;
}

.appContainer .playlistMenuContainer .playlistMenu .playlistItem .playlistItemName {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.appContainer .playlistMenuContainer .playlistMenu .playlistItem .playlistRemovalBtn {
  position: absolute;
  right: -0.6rem;
  top: -0.6rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: #d8d8d8;
  border: 3px solid black;
  border-radius: 50%;
  color: #A61141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.appContainer .playlistMenuContainer .playlistMenu .playlistItem .playlistRemovalBtn h2 {
  font-size: 1.5rem;
  margin: 0 0 0.05rem 0.1rem;
}

.appContainer .playlistMenuContainer .playlistMenu .playlistItem .playlistRemovalBtn:hover {
  background-color: #A61141;
  color: black;
}

.appContainer .playlistMenuContainer .playlistMenu::-webkit-scrollbar {
  width: 0.9rem;
  height: 1rem;
}

.appContainer .playlistMenuContainer .playlistMenu::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid #A61141;
  border-radius: 1rem;
}

.appContainer .playlistMenuContainer .playlistMenu::-webkit-scrollbar-thumb:hover {
  background-color: #A61141;
}

.appContainer .playlistMenuContainer .playlistMenu::-webkit-scrollbar-track {
  background-color: transparent;
}

.appContainer .playlistMenuContainer .playlistMenu {
  scrollbar-face-color: #A61141;
  scrollbar-track-color: transparent;
}

.appContainer .playlistMenuContainer .addNewPlaylist {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: addNewPlaylist;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 2rem;
  opacity: 0.8;
}

.appContainer .playlistMenuContainer .addNewPlaylist input {
  text-align: center;
  outline: none;
  border: none;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 0.8rem;
  width: 10rem;
  height: 100%;
  z-index: 20;
  color: white;
}

.appContainer .playlistMenuContainer .addNewPlaylist input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.appContainer .playlistMenuContainer .addNewPlaylist input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.appContainer .playlistMenuContainer .addNewPlaylist input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.appContainer .playlistMenuContainer .addNewPlaylist input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.appContainer .playlistMenuContainer .addNewPlaylist input:focus {
  border-color: white;
}

.appContainer .playlistMenuContainer .addNewPlaylist button {
  width: 3rem;
  height: 100%;
  margin-left: -1.2rem;
  padding-left: 1.3rem;
  z-index: 10;
  font-size: 1.5rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-color: #21A62E;
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.appContainer .playlistMenuContainer .addNewPlaylist button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .appContainer .playlistMenuContainer {
    position: absolute;
    -ms-grid-rows: 3rem 1fr 3rem;
        grid-template-rows: 3rem 1fr 3rem;
    right: 50%;
    top: 0;
    width: 7rem;
    height: 2.8rem;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    overflow: hidden;
    border: none;
    z-index: 100;
    border: 3px solid rgba(66, 166, 76, 0.9);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0.4rem 0.3rem 1.3rem 0rem black;
            box-shadow: 0.4rem 0.3rem 1.3rem 0rem black;
    -webkit-transition: height 0.3s ease-in-out, width 0.15s ease-out 0.3s;
    transition: height 0.3s ease-in-out, width 0.15s ease-out 0.3s;
  }
  .appContainer .playlistMenuContainer .playlistMenu {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .appContainer .playlistMenuContainer .playlistMenu .playlistPlaceholder {
    color: rgba(255, 255, 255, 0.9);
  }
  .appContainer .playlistMenuContainer .playlistMenu::-webkit-scrollbar {
    display: none;
  }
  .appContainer .playlistMenuContainer .playlistHeaderText {
    color: transparent;
    pointer-events: none;
  }
  .appContainer .playlistMenuContainer.expanded {
    width: 100%;
    height: 100%;
    cursor: default;
    -webkit-transition: width 0.15s ease-out, height 0.3s ease-in-out 0.15s;
    transition: width 0.15s ease-out, height 0.3s ease-in-out 0.15s;
  }
  .appContainer .playlistMenuContainer::after {
    content: "PLAYLISTS";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 0.7rem;
    font-weight: 600;
    color: rgba(66, 166, 76, 0.9);
    margin-top: 1.2rem;
  }
}

.appContainer .playlistContentContainer {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
      grid-template-areas: "header" "allVideos";
  justify-items: center;
  height: 100%;
  padding-top: 1rem;
}

.appContainer .playlistContentContainer header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.3rem;
  border-bottom: 2px solid #133f17;
  padding-bottom: 1rem;
}

.appContainer .playlistContentContainer header .playlistContentPlaceholder {
  text-align: center;
  font-weight: 600;
  color: #591B2F;
}

.appContainer .playlistContentContainer header h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #591B2F;
}

.appContainer .playlistContentContainer header .addVideo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 2rem;
  opacity: 0.8;
}

.appContainer .playlistContentContainer header .addVideo input {
  text-align: center;
  outline: none;
  border: none;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 0.8rem;
  width: 15rem;
  height: 100%;
  z-index: 20;
  color: white;
}

.appContainer .playlistContentContainer header .addVideo input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.appContainer .playlistContentContainer header .addVideo input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.appContainer .playlistContentContainer header .addVideo input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.appContainer .playlistContentContainer header .addVideo input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.appContainer .playlistContentContainer header .addVideo input:focus {
  border-color: white;
}

.appContainer .playlistContentContainer header .addVideo button {
  width: 3rem;
  height: 100%;
  margin-left: -1rem;
  padding-left: 1.2rem;
  z-index: 10;
  font-size: 1.5rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-color: #21A62E;
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.appContainer .playlistContentContainer header .addVideo button:hover {
  opacity: 0.6;
}

.appContainer .playlistContentContainer .allVideos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: allVideos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
  overflow-y: auto;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.appContainer .playlistContentContainer .allVideos .singleVideo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  gap: 0.5rem;
}

.appContainer .playlistContentContainer .allVideos .singleVideo .videoRemovalBtn {
  position: absolute;
  right: -0.6rem;
  top: -0.6rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: #d8d8d8;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  color: #A61141;
}

.appContainer .playlistContentContainer .allVideos .singleVideo .videoRemovalBtn h2 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.appContainer .playlistContentContainer .allVideos .singleVideo .videoRemovalBtn:hover {
  background-color: #A61141;
  color: black;
}

.appContainer .playlistContentContainer .allVideos .singleVideo .thumbnailContainer {
  border: 6px solid rgba(66, 166, 76, 0.8);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 20rem;
  height: 11rem;
}

.appContainer .playlistContentContainer .allVideos .singleVideo .thumbnailContainer::after {
  content: "Play Video";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  font-size: 1rem;
  font-weight: 800;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.appContainer .playlistContentContainer .allVideos .singleVideo .thumbnailContainer:hover::after {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.appContainer .playlistContentContainer .allVideos .singleVideo .thumbnailContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.appContainer .playlistContentContainer .allVideos .singleVideo a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 0.7rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.appContainer .playlistContentContainer .allVideos .singleVideo a:hover {
  opacity: 0.6;
}

.appContainer .playlistContentContainer .allVideos::-webkit-scrollbar {
  width: 0.9rem;
  height: 1rem;
}

.appContainer .playlistContentContainer .allVideos::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid #A61141;
  border-radius: 1rem;
}

.appContainer .playlistContentContainer .allVideos::-webkit-scrollbar-thumb:hover {
  background-color: #A61141;
}

.appContainer .playlistContentContainer .allVideos::-webkit-scrollbar-track {
  background-color: transparent;
}

.appContainer .playlistContentContainer .allVideos {
  scrollbar-face-color: #A61141;
  scrollbar-track-color: transparent;
}

@media screen and (max-width: 768px) {
  .appContainer .playlistContentContainer {
    padding-top: 3rem;
  }
  .appContainer .playlistContentContainer .allVideos {
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .appContainer .playlistContentContainer .allVideos::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 401px) {
  .appContainer .playlistContentContainer .allVideos .singleVideo .thumbnailContainer {
    width: 16rem;
    height: 9rem;
  }
}

.appContainer .fullscreenVideoContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  justify-items: center;
}

.appContainer .fullscreenVideoContainer svg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 4rem;
  height: auto;
  margin: 1rem 0 1rem 5%;
  cursor: pointer;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.appContainer .fullscreenVideoContainer svg path {
  stroke: #21A62E;
}

.appContainer .fullscreenVideoContainer svg:hover {
  fill: #21A62E;
}

.appContainer .fullscreenVideoContainer iframe {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  height: 80%;
  border: 5px solid #1b5921;
}

@media screen and (max-width: 768px) {
  .appContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}
/*# sourceMappingURL=index.css.map */